{% extends "base.html" %}
{% block content %}
<form action="/user/login/" method="POST">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <button type="submit">Login</button>
</form>
{% endblock %}
