{% extends "base.html" %}
{% block content %}
<h1>All Questions</h1>
<br>
<hr>
{% for question in questions %}
<p>
    <h5>{{ question.user }}</h5>
    <a href="/question/{{ question.id }}/">
        <h3>{{ question.title}}</h3>
    </a>
    {{ question.desc }}
</p>
<hr>
{% endfor %}
{% endblock %}
