{% extends "base.html" %}
{% block content %}
<form action="/question/new/" method="POST">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <button type="submit">Submit question</button>
</form>
{% endblock %}
