<html>
    <head>

        <title>
            {% block title %}Ask & Answer{% endblock %}
        </title>

    </head>

    <body>
        <a href="/question/all/">All Questions</a>
        {% if user.is_authenticated %}
        <a href="/question/new/">Ask</a>
        <a href="/user/logout/">Logout</a>
        {% else %}
        <a href="/user/login/">Login</a>
        <a href="/user/create/">Create Account</a>
        {% endif %}
        <hr>
        {% block content %}
        Please include this file. Don't display it directly.
        {% endblock %}

    </body>
</html>
