{% extends "base.html" %}
{% block content %}
<form action="/user/create/" method="POST">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <button type="submit">Create account</button>
</form>
{% endblock %}
