{% extends "base.html" %}
{% block content %}

Hello '{{ name }}'
<p>
    Welcome to <strong>Ask & Answer</strong>
</p>
<p>
    {% for day in "1234567" %}
    {{ day }}
    {% endfor %}
</p>
{% endblock %}
