{% extends "base.html" %}
{% block content %}
<h5>{{ asked_by }}</h5>
<h2>{{ q_title }}</h2>
<p>{{ q_desc }}</p>
<form action="/answer/{{ q_id }}/" method="POST">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <button type="submit">Submit Answer</button>
</form>
{% endblock %}
