{% extends "base.html" %}
{% block content %}
<h1>Question</h1>
Submitted by: <span>{{ asked_by }}</span>
<h2>{{ q_title }}</h2>
<p>{{ q_desc }}</p>
{% if user.is_authenticated %}
<p>
    <a href="/question/up/{{ q_id }}/{{ user.id }}/">
        Up ({{ ups }})
    </a>
    |
    <a href="/question/down/{{ q_id }}/{{ user.id }}/">
        Down ({{ downs }})
    </a>
</p>
<br>
<hr>
<a href="/answer/{{ q_id }}">Write an answer</a>
{% endif %}
<hr>
<h1>Answers</h1>
{% for answer in answers %}
<p>
    <h5>{{ answer.answered_by.username }}</h5>
    <p>{{ answer.text }}</p>
    {% if user.is_authenticated %}
    <p>
        <a href="/answer/up/{{ answer.id }}/{{ user.id }}/">
            Up ({{ answer.get_upvotes }})
        </a>
        |
        <a href="/answer/down/{{ answer.id }}/{{ user.id }}/">
            Down ({{ answer.get_downvotes }})
        </a>
    </p>
    {% endif %}
</p>
<hr>
{% endfor %}
{% endblock %}
